<mat-form-field style="width=40%;margin-left:10%;margin-top:5%">
    <input matInput placeholder="ENTER YOUR NAME">

    
  </mat-form-field> 

  <mat-form-field style="width:20%;margin-left:10%;">
    <input  matInput placeholder="ENTER YOUR GMAIL">

    
  </mat-form-field> <br>

  <mat-form-field style="width:10%;margin-left:10%;" appearance="fill">
    <mat-label>Department</mat-label>
    <mat-select>
      <mat-option value="one">BE</mat-option>
      <mat-option value="two">MBA</mat-option>
      <mat-option value="three">M.COM</mat-option>
    </mat-select> 
  </mat-form-field> 

   
    <mat-radio-button style="margin-left:15%;" > male </mat-radio-button> &nbsp;&nbsp;

    <mat-radio-button > female </mat-radio-button>
  <br>

 


  <button style="margin-left:22%" class="button" mat-raised-button>Resiter
 
  </button> <br> <br>
  <div>


<mat-slider aria-label="unit(s)"></mat-slider>

 
 
 

